/*&__{}*/
.stories {
    padding: 80px 0 0 0;

    &__wrapper {
        background-image: url("../../img/footer-img.png");
        background-repeat: no-repeat;
        background-size: cover;


    }


    &__wrap-box {
        background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
        padding-top: 30px;
        padding-bottom: 30px;
    }


    &__title {
        font-weight: 500;
        font-size: 40px;
        color: $title-color;
        text-align: center;
        font-family: "Red Hat Text", sans-serif;
        margin-bottom: 50px;

    }


    &__list {
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-family: "Aleo", sans-serif;
    }

    &__item {
        display: flex;
        gap: 40px;
    }

    &__img {
        border-radius: 16px;

    }

    &__subtitle {
        font-weight: 400;
        font-size: 35px;
        color: $main-color;
        margin-bottom: 24px;
    }

    &__text {
        font-weight: 400;
        font-size: 20px;
        color: $main-color;
    }

    &__link {
        color: $main-color;
        text-decoration: underline;
        font-family: "Aleo", sans-serif;
    }




}

.footer__text {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: $bg;
    margin-top: 14px;
}


.destinations__btn {
    margin-bottom: 55px;
}

.footer {
    display: flex;
    align-items: center;
    padding: 14px 0 14px 0;
    justify-content: flex-end;
    gap: 328px;
}

.footer__svg {
    fill: $bg;
    width: 34px;
    height: 34px;
    transition-property: fill;
    transition-duration: 700ms;
    transition-timing-function: ease;
    cursor: pointer;

    &:hover,
    &:focus {
        fill: $title-color;
    }
}

.footer__list {
    display: flex;
    align-items: center;
    gap: 20px;
}